In [1]:
'''Taxable sales and purchases - basis of remittances'''

f = open("Taxable_Sales_And_Purchases_Quarterly_Data__Beginning_Sales_Tax_Year_2013-2014.csv","r")
s = f.read()
f.close()
lines = s.split("\n")

In [2]:
import csv, operator

fn = "Taxable_Sales_And_Purchases_Quarterly_Data__Beginning_Sales_Tax_Year_2013-2014.csv"
f = open(fn, 'r')
## counts rows in file
n = 0
for line in f :
    n += 1
print(n)

567361

In [9]:
import csv, operator

fn = "Taxable_Sales_And_Purchases_Quarterly_Data__Beginning_Sales_Tax_Year_2013-2014.csv"
f = open(fn, 'r')
Juris = {}
reader = csv.reader(f)
n = 0

for row in reader:
    k = row[4]
    if k in Juris.keys() :
        Juris[k] += 1
    else:
        Juris[k] = 1
    if n % 100000 == 0 :
        print(n)
    n +=1
    
sorted_hist = sorted(Juris.items(), key = operator.itemgetter(1), reverse = True)

print(n)
print(sorted_hist)

0
100000
200000
300000
400000
500000
567361
[('NY STATE', 9456), ('MCTD', 9456), ('ALBANY', 9456), ('ALLEGANY', 9456), ('BROOME', 9456), ('CATTARAUGUS', 9456), ('CAYUGA', 9456), ('CHAUTAUQUA', 9456), ('CHEMUNG', 9456), ('CHENANGO', 9456), ('CLINTON', 9456), ('COLUMBIA', 9456), ('CORTLAND', 9456), ('DELAWARE', 9456), ('DUTCHESS', 9456), ('ERIE', 9456), ('ESSEX', 9456), ('FRANKLIN', 9456), ('FULTON', 9456), ('GENESEE', 9456), ('GREENE', 9456), ('HAMILTON', 9456), ('HERKIMER', 9456), ('JEFFERSON', 9456), ('LEWIS', 9456), ('LIVINGSTON', 9456), ('MADISON', 9456), ('MONROE', 9456), ('MONTGOMERY', 9456), ('NASSAU', 9456), ('NIAGARA', 9456), ('NY CITY', 9456), ('ONEIDA', 9456), ('ONONDAGA', 9456), ('ONTARIO', 9456), ('ORANGE', 9456), ('ORLEANS', 9456), ('OSWEGO', 9456), ('OTSEGO', 9456), ('PUTNAM', 9456), ('RENSSELAER', 9456), ('ROCKLAND', 9456), ('SARATOGA', 9456), ('SCHENECTADY', 9456), ('SCHOHARIE', 9456), ('SCHUYLER', 9456), ('SENECA', 9456), ('ST LAWRENCE', 9456), ('STEUBEN', 9456), ('SUFFOLK', 9456), ('SULLIVAN', 9456), ('TIOGA', 9456), ('TOMPKINS', 9456), ('ULSTER', 9456), ('WARREN', 9456), ('WASHINGTON', 9456), ('WAYNE', 9456), ('WESTCHESTER', 9456), ('WYOMING', 9456), ('YATES', 9456), ('Jurisdiction', 1)]

In [24]:
import csv, operator

fn = "Taxable_Sales_And_Purchases_Quarterly_Data__Beginning_Sales_Tax_Year_2013-2014.csv"
f = open(fn, 'r')

JurisCount = 0
reader = csv.reader(f)
YearHist = {}
n = 0

for row in reader:
    j = row[4]
    y = row[1]
    if j == 'MONTGOMERY' :
        JurisCount += 1
        if y in YearHist.keys() :
            YearHist[y] += 1
        else:
            YearHist[y] = 1
        if n % 10000 == 0 :
            print(n)
        n +=1
    
sorted_hist = sorted(YearHist.items(), key = operator.itemgetter(1), reverse = True)

print(n)
print(sorted_hist)
    
print(JurisCount)

0
9456
[('2019 - 2020', 1248), ('2018 - 2019', 1248), ('2017 - 2018', 1248), ('2016 - 2017', 1248), ('2015 - 2016', 1176), ('2014 - 2015', 1176), ('2013 - 2014', 1176), ('2020 - 2021', 936)]
9456

In [27]:
import csv, operator

fn = "Taxable_Sales_And_Purchases_Quarterly_Data__Beginning_Sales_Tax_Year_2013-2014.csv"
f = open(fn, 'r')

JurisCount = 0
reader = csv.reader(f)
QtrHist = {}
n = 0

for row in reader:
    j = row[4]
    y = row[1]
    q = row[3]
    r = row[7]
    if j == 'MONTGOMERY' and y == '2019 - 2020' :
        if q in QtrHist.keys() :
            #QtrHist[q] += 1
            QtrHist[q] = r
        else:
            #QtrHist[q] = 1
            QtrHist[q] = r
        if n % 100000 == 0 :
            print(n)
        n +=1
    
sorted_hist = sorted(QtrHist.items(), key = operator.itemgetter(1), reverse = True)

print(n)
print(sorted_hist)

0
1248
[('1', '97631'), ('4', '455600'), ('3', '171470'), ('2', '136482')]

In [1]:
## sums the taxable sales and purchases for chosen filing year by jurisdiction

import csv, operator

fn = "Taxable_Sales_And_Purchases_Quarterly_Data__Beginning_Sales_Tax_Year_2013-2014.csv"
f = open(fn, 'r')

JurisCount = 0
reader = csv.reader(f)
TotalHist = {}
n = 0

yr1 = '2019 - 2020'

for row in reader:
    j = row[4]
    y = row[1]
    q = row[3]
    r = row[7]
    if y == yr1 and r != '':
        if j in TotalHist.keys() :
            #QtrHist[q] += 1
            #print(TotalHist)
            rev = int(TotalHist[j])
            add = int(r)
            TotalHist[j] = rev + add
            #print(type(rev), type(add))
            #print(int(rev) + int(add))
            #print(rev, add, j, y, q, r)
        else:
            #QtrHist[q] = 1
            TotalHist[j] = int(r)
            #print(j, y, q, r)
        if n % 100000 == 0 :
            print(n)
        n +=1
        

#sorted_hist = sorted(TotalHist.items(), key = operator.itemgetter(1), reverse = True)

print(n)
#print(sorted_hist)
#print(TotalHist)
for key, value in TotalHist.items():
    print(f"{key:20}{value:,}")

0
62900
NY STATE            371,710,781,733
MCTD                274,904,994,264
ALBANY              7,151,232,372
ALLEGANY            506,551,674
BROOME              3,568,651,038
CATTARAUGUS         1,158,160,922
CAYUGA              1,204,441,572
CHAUTAUQUA          1,803,369,681
CHEMUNG             1,591,317,980
CHENANGO            669,225,121
CLINTON             1,500,874,545
COLUMBIA            1,132,542,017
CORTLAND            789,812,441
DELAWARE            595,578,611
DUTCHESS            5,572,499,809
ERIE                17,726,574,653
ESSEX               808,794,727
FRANKLIN            659,641,880
FULTON              770,222,658
GENESEE             1,081,350,661
GREENE              879,086,590
HAMILTON            109,948,456
HERKIMER            810,479,133
JEFFERSON           2,030,375,765
LEWIS               329,571,552
LIVINGSTON          899,990,527
MADISON             894,749,876
MONROE              13,349,750,016
MONTGOMERY          840,838,675
NASSAU              29,793,365,345
NIAGARA             3,580,183,667
NY CITY             182,016,447,224
ONEIDA              3,603,680,871
ONONDAGA            9,426,354,178
ONTARIO             2,582,299,011
ORANGE              8,090,706,655
ORLEANS             451,505,170
OSWEGO              1,223,193,225
OTSEGO              1,027,289,153
PUTNAM              1,665,520,536
RENSSELAER          2,420,775,759
ROCKLAND            5,783,335,918
SARATOGA            4,845,642,289
SCHENECTADY         2,620,713,145
SCHOHARIE           413,933,394
SCHUYLER            305,460,531
SENECA              693,365,872
ST LAWRENCE         1,574,595,468
STEUBEN             1,511,041,790
SUFFOLK             36,561,803,061
SULLIVAN            1,221,025,398
TIOGA               640,938,932
TOMPKINS            1,725,006,765
ULSTER              3,229,812,488
WARREN              2,006,970,582
WASHINGTON          733,882,771
WAYNE               1,214,221,711
WESTCHESTER         22,820,978,912
WYOMING             491,848,551
YATES               352,772,693

In [60]:
import csv, operator

fn = "Taxable_Sales_And_Purchases_Quarterly_Data__Beginning_Sales_Tax_Year_2013-2014.csv"

f2 = open('subset_industry.csv','w')
f2.write("")
f2.close()

f = open(fn, 'r')
reader = csv.reader(f)
f2 = open('subset_industry.csv','a')
writer = csv.writer(f2, delimiter = ',', lineterminator = '\n')

# NAICS code 4441 is Building Material and Supplies dealers - for example, Home Depot
# NAICS code 4453 is Beer, Wine, and Liquor Stores
# NAICS code 7225 is Restaurants and Other Eating Places

# which NAICS code to look for, defined as nc
nc = '7225'

for i, row in enumerate(reader) :
    ind = row[5]
    if i > 0 :
        ## writes row if the NAICS code matches criteria 'nc'
        if ind == nc :
            writer.writerow(row)
    else:
        ## writes header row
        writer.writerow(row)
    if i % 100000 == 0 :
        print(i)
        
f.close()
f2.close()

0
100000
200000
300000
400000
500000

In [61]:
## sums the taxable sales and purchases for chosen filing year by jurisdiction

import csv, operator

fs = "subset_industry.csv"
fi = open(fs, 'r')

JurisCount = 0
reader = csv.reader(fi)
Yr1Hist = {}
Yr2Hist = {}
n = 0

yr1 = '2019 - 2020'
yr2 = '2020 - 2021'

for row in reader:
    ## row[4] is Jurisdiction
    j = row[4]
    ## row[1] is Sales Tax Year
    y = row[1]
    ## row[3] is Sales Tax Quarter
    q = row[3]
    ## row[7] is taxable sales and purchases reported
    r = row[7]
    if y == yr1 and r != '':
        if j in Yr1Hist.keys() :
            #QtrHist[q] += 1
            #print(TotalHist)
            rev1 = int(Yr1Hist[j])
            add1 = int(row[7])
            Yr1Hist[j] = rev1 + add1
            #print(type(rev), type(add))
            #print(int(rev) + int(add))
            #print(rev, add, j, y, q, r)
        else:
            #QtrHist[q] = 1
            Yr1Hist[j] = int(r)
            #print(j, y, q, r)
    elif y == yr2 and r != '':
        if j in Yr2Hist.keys() :
            #QtrHist[q] += 1
            #print(TotalHist)
            rev2 = int(Yr2Hist[j])
            add2 = int(row[7])
            Yr2Hist[j] = rev2 + add2
            #print(type(rev), type(add))
            #print(int(rev) + int(add))
            #print(rev, add, j, y, q, r)
        else:
            #QtrHist[q] = 1
            Yr2Hist[j] = int(r)
            #print(j, y, q, r)
    n +=1


#sorted_hist = sorted(TotalHist.items(), key = operator.itemgetter(1), reverse = True)

#print("Yr 1: ", Yr1Hist)

#print("Yr 2: ", Yr2Hist)

Yr1_only = []
Yr2_only = []
for key1 in Yr1Hist.keys():
    if key1 not in Yr2Hist.keys():
        Yr1_only.append(key1)
for key2 in Yr2Hist.keys():
    if key2 not in Yr1Hist.keys() :
        Yr2_only.append(key2)
print("Jurisdictions in Yr1 only:", Yr1_only)
print("Jurisdictions in Yr2 only:", Yr2_only)

print(f"{'Jurisdiction':20}{yr1:>20}{yr2:>20}{'Change':>20}")
for key, value in Yr1Hist.items() :
    change = Yr2Hist[key] - Yr1Hist[key]
    print(f"{key:20}{value:>20,}{Yr2Hist[key]:>20,}{change:>20,}")

Jurisdictions in Yr1 only: []
Jurisdictions in Yr2 only: []
Jurisdiction                 2019 - 2020         2020 - 2021              Change
NY STATE                  41,805,560,564      18,355,152,069     -23,450,408,495
MCTD                      32,451,365,414      12,762,615,670     -19,688,749,744
ALBANY                       641,940,977         328,696,126        -313,244,851
ALLEGANY                      31,001,553          19,931,298         -11,070,255
BROOME                       294,382,747         180,334,784        -114,047,963
CATTARAUGUS                   89,146,993          54,404,573         -34,742,420
CAYUGA                        85,748,766          52,607,867         -33,140,899
CHAUTAUQUA                   167,913,779         111,586,080         -56,327,699
CHEMUNG                      131,545,597          81,162,202         -50,383,395
CHENANGO                      33,581,798          21,728,489         -11,853,309
CLINTON                      115,879,177          70,287,799         -45,591,378
COLUMBIA                      79,424,164          48,317,300         -31,106,864
CORTLAND                      58,579,747          36,016,158         -22,563,589
DELAWARE                      32,666,402          22,123,679         -10,542,723
DUTCHESS                     470,162,741         280,219,382        -189,943,359
ERIE                       1,725,207,638       1,013,008,712        -712,198,926
ESSEX                         64,923,623          38,774,026         -26,149,597
FRANKLIN                      37,463,222          25,347,183         -12,116,039
FULTON                        56,374,222          40,025,076         -16,349,146
GENESEE                       88,582,917          56,038,964         -32,543,953
GREENE                        64,989,552          40,096,800         -24,892,752
HAMILTON                       7,246,029           4,327,847          -2,918,182
HERKIMER                      66,275,757          42,597,937         -23,677,820
JEFFERSON                    183,678,541         121,002,277         -62,676,264
LEWIS                         20,985,788          12,134,640          -8,851,148
LIVINGSTON                    73,820,629          49,030,827         -24,789,802
MADISON                       66,497,344          42,327,773         -24,169,571
MONROE                     1,186,199,071         706,546,364        -479,652,707
MONTGOMERY                    52,433,925          34,176,463         -18,257,462
NASSAU                     2,840,431,398       1,667,149,433      -1,173,281,965
NIAGARA                      305,351,750         188,268,333        -117,083,417
NY CITY                   23,161,893,930       7,218,358,520     -15,943,535,410
ONEIDA                       304,463,910         188,522,158        -115,941,752
ONONDAGA                     826,227,684         462,559,599        -363,668,085
ONTARIO                      213,238,772         125,059,590         -88,179,182
ORANGE                       584,141,500         356,835,608        -227,305,892
ORLEANS                       29,669,672          22,346,704          -7,322,968
OSWEGO                        77,678,737          53,729,975         -23,948,762
OTSEGO                        89,161,446          47,648,576         -41,512,870
PUTNAM                       106,554,627          67,428,518         -39,126,109
RENSSELAER                   195,159,020         113,396,829         -81,762,191
ROCKLAND                     430,782,230         236,791,014        -193,991,216
SARATOGA                     431,672,593         247,634,496        -184,038,097
SCHENECTADY                  191,957,226         119,617,481         -72,339,745
SCHOHARIE                     24,683,862          16,470,741          -8,213,121
SCHUYLER                      22,357,380          15,286,493          -7,070,887
SENECA                        39,985,936          24,947,704         -15,038,232
ST LAWRENCE                  100,532,961          65,220,051         -35,312,910
STEUBEN                      103,778,038          61,822,443         -41,955,595
SUFFOLK                    3,035,310,328       1,945,529,545      -1,089,780,783
SULLIVAN                      69,610,257          46,835,723         -22,774,534
TIOGA                         34,139,625          22,211,043         -11,928,582
TOMPKINS                     157,923,222          75,894,979         -82,028,243
ULSTER                       281,771,494         170,795,176        -110,976,318
WARREN                       203,437,584         133,904,515         -69,533,069
WASHINGTON                    33,412,161          23,014,469         -10,397,692
WAYNE                         72,848,224          51,293,578         -21,554,646
WESTCHESTER                1,811,397,943         989,391,655        -822,006,288
WYOMING                       36,875,259          25,515,796         -11,359,463
YATES                         19,461,932          12,634,018          -6,827,914